
@{
    Layout = null;
}

@Html.ActionLink("Pincha Aqui","Listado","Producto")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href='@Url.Action("Listado", "Producto")'>Listado de productos</a>
    </div>
</body>
</html>
