
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div>
        <ol>
            <li>patata</li>
            <li>tomate</li>
            <li>manzana</li>
            <li>platano</li>
        </ol>
    </div>
</body>
</html>
